<div class="fadeIn" style="padding: 3em; background-image: linear-gradient(to top , rgba(0,0,0,0), rgba(0,0,0,1));">

        <nav aria-label="breadcrumb"  >
                <ol class="breadcrumb" style="background-color:transparent;">
                  <li class="breadcrumb-item"><a href="#"  routerLink="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{charts}}</li>
                </ol>
              </nav>
   
    <div class="jumbotron jumbotron-fluid text-white " style="background-color:transparent;padding-bottom: 2em;">
        <div class="container">
            <h1 class="display-4">{{charts}}</h1>
            <br>
            <div class="btn btn-primary btn-lg rounded-pill"> <img class="playicon rounded"
                    src="../../assets/resources/play-white.png" (click)="playall()"> Play All</div>
        </div>
    </div>

    <table class="table table-hover table-dark" style="background-color:transparent">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Length</th>
            </tr>
        </thead>
        <tbody id="List">
            <tr *ngFor="let music of musiclist ; index as i" >
                <th scope="row">{{i+1}}
                        <!-- *ngIf="music.Music_id== sharedData.sharedplaylist[sharedData.mowPi].Music_id"  -->
                    <img #icon class="playicon" (click)="playsong(music,icon)" src="../../assets/resources/play-white.png"></th>
                <td>{{music.Name}}</td>
                <td>{{music.Artist}}</td>
                <td>{{music.length}}</td>
            </tr>
        </tbody>
    </table>
    <br>
<br>
<hr>
<div class="theme-text-h4 d-flex justify-content-center  ">
  <div class=" text-center text-muted" style="width: 70%;">
    Zang is the one stop solution for all your music needs. Gaana offers you free, unlimited access to
    over 30 million Hindi Songs Bollywood Music, English MP3 songs, Regional Music & Mirchi Play
  </div> 
</div>

<br>
<div class=" text-center text-muted">@ Zang Ltd. 2019. All Righets Reserved</div>
</div>