
<div class="side noScrolBar  overflow-auto  fixed-bottom dark-theme-sid-color shadow ">
    <div>
        <div class="dark-theme-sid-color sticky-top shadow ">
            <div class="theme-text-h4 d-flex justify-content-center  ">
                <img src="./assets/logo/long-logo.svg" style="width: 80%; height:80%; padding: 1em;"></div>
            <br>
            <div class="d-flex justify-content-center">
                    <img src='{{nowimg}}' class="figure-img cover rounded Musiccard"
                    alt="sow" style="width: 10em; height:10em;">
                  
                <br>
                </div>
                <p class="text-white">{{src_playing}}     </p>
                <div class="d-flex justify-content-center">
            <audio  #play class="audio" (ended)="nextp(play)" id="playing" controls>
                <source id="playsource" src="{{nowp}}">
                </audio>
            </div>
            <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click) = "previousp(play)" class="btn btn-secondary"><<</button>
                            <button type="button" (click) = "pausp(play)" class="btn btn-secondary">||</button>
                            <button type="button"(click) = "playp(play)" class="btn btn-secondary"><></button>
                            <button type="button" (click) = "nextp(play)"  class="btn btn-secondary">>></button>
                          </div>
          
                <!-- <audio controls   [innerHTML]="{{src_playing}}"> 
                   <source src="{{nowp}}"  type="audio/mp3">
                    Your browser does not support the audio element.
                </audio> -->
            </div>
           </div>
        <br>
        <div  class="d-flex justify-content-center " >
            <div id="playinglist" class="container" style="padding: 0;">
                <table  class="table table-hover table-dark fadeIn" style="background-color:transparent;">
                    <tbody id="pList" >
                        <tr   *ngFor="let music of playlist.reverse() ; index as i" id="{{sharedData.length-i-1}}" >
                            <th scope="row"><img class="icon rounded-sm cover "
                                    src="{{music.Image}}"></th>
                            <td>{{music.Name}}</td>
                          
                            <td><img class="hover-ope crossbtn" (click)="removesong(i)" src="../../assets/resources/icons8x.png"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>