<div class="jumbotron " style="background-color: transparent;">
        <h1 class="display-4 text-white">Admin Panel</h1>
        <br>
       
    <table class="table table-dark table-striped">
        <tr>
            <th>Table Name</th>
        </tr>
        <tr *ngFor="let table of sns">
            <td>{{table}}</td>
            <td><a href="/admin/{{table}}">open</a></td>
        </tr>
    </table><br>
    <h3 class="text-white">{{tn}}</h3><br>
    <div class="accordion " id="accordionExample">
        <div class="card bg-dark text-white" *ngFor="let music of musicD ; index as i">
            <div class="card-header" id="{{music.Name}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                    attr.data-target="#demo{{i+1}}"    attr.aria-expanded="true" attr.aria-controls="demo{{i+1}}">
                  {{i+1}}      {{music.Name}}
                    </button>
                </h2>
            </div>
            <div id="demo{{i+1}}" class="collapse" attr.aria-labelledby="{{music.Name}}" data-parent="#accordionExample">
                <div class="card-body">
                    <tr>Artist : {{music.Artist}}</tr>
                    <tr>Gener : {{music.Gener}}</tr>
                    <tr>Time Stamp  : {{music.Time_stamp}} </tr>
                    <tr>Quility : {{music.Quility}} </tr>
                    <tr>Type : {{music.Type}} </tr>

                    <tr>Length  : {{music.length}}</tr>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isud; then data"></div>
    <ng-template #data>
        <table class="table table-dark table-striped">
            <tr>
                <th>UserName</th>
                <th>Password</th>
            </tr>
            <tr *ngFor="let u of d">
                <td>{{u.name}}</td>
                <td>{{u.Password}}</td>

                <td>
                        <div class="btn-group  btn-group-sm" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-primary" href="/admin/{{tn}}/Edit/{{u._id}}">Edit</a>
                             <a type="button" class="btn btn-primary"
                                    href="/admin/{{tn}}/Delete/{{u._id}}">Delete</a>
                    
                              </div>
                    
            </td>
            </tr>
        </table>
        <div *ngIf="isedit; then medit"></div>
        <ng-template #medit>
            <table class="table table-dark table-striped">
                <tr>
                    <td>
                        <h4 class="text-primary">UserName</h4><input type="text" class="form-control"
                            value="{{uo.name}}" [(ngModel)]="uname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="text-primary">Password</h4><input type="text" class="form-control"
                            value="{{uo.Password}}" [(ngModel)]="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" value="Submit" (click)="Edit_data()">
                    </td>
                </tr>
            </table>
        </ng-template>
    </ng-template>

</div>