<div>
    <table class="table table-dark table-striped">
        <tr>
            <th>Table Name</th>
        </tr>
        <tr *ngFor="let table of sns">
            <td>{{table}}</td>
            <td><a href="/admin/{{table}}">open</a></td>
        </tr>
    </table><br>
    <h3 class="text-primary">{{tn}}</h3><br>
    <div *ngIf="isud; then data"></div>
    <ng-template #data>
        <table class="table table-dark table-striped">
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            <tr *ngFor="let u of d">
                <td>{{u.name}}</td>
                <td>{{u.Password}}</td>
                <td>{{u.role}}</td>
                <td><a href="/admin/{{tn}}/Edit/{{u._id}}">Edit</a> | <a href="/admin/{{tn}}/Delete/{{u._id}}">Delete</a> | <a
                        href="/admin/{{tn}}/madmin/{{u._id}}">Make admin</a></td>
            </tr>
        </table>
        <div *ngIf="isedit; then medit"></div>
        <ng-template #medit>
            <table class="table table-dark table-striped">
                <tr>
                    <td>
                        <h4 class="text-primary">UserName</h4><input type="text" class="form-control" value="{{uo.name}}" [(ngModel)]="uname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="text-primary">Password</h4><input type="text" class="form-control" value="{{uo.Password}}" [(ngModel)]="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" value="Edit" (click)="Edit_data()">
                    </td>
                </tr>
            </table>
        </ng-template>
    </ng-template>
</div>