<div>
    <table class=".table-striped-dark">
        <tr>
            <td style="color: aliceblue;">Please select a Table:-</td><br>
        </tr>
        <tr>
            <td>
                <select id="m">
                    <option *ngFor="let sn of sns">
                        {{sn}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="color: aliceblue;">Please select a Operation:-</td><br>
        </tr>
        <tr>
            <td>
                <select id="o">
                    <option *ngFor="let so of sos">
                        {{so}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Go" (click)="on_click()">
            </td>
        </tr>
        <tr>
            <td>
                <div *ngIf = "istrue; then thenblock" ></div>
                <ng-template #thenblock >
                    <div style="color: aliceblue;">
                    Name:-<input type="text" value="name"><br>
                    Password:-<input type="password" value="password"><br>
                    <input type="button" value="Insert">
                </div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>