
<style>
        @media (min-width: 576px) {
      .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
      }
      .card-columns .card {
        display: inline-block;
        width: 100%;
      }
    }
    .dark-theme-sid-color {
  background-color: rgb(38, 38, 38);
}

        </style>
    
<div class="fadeIn" style="padding: 3em; background-image: linear-gradient(to top , rgba(0,0,0,0), rgba(0,0,0,1));">
    <nav aria-label="breadcrumb"  >
        <ol class="breadcrumb" style="background-color:transparent;">
          <li class="breadcrumb-item"><a href="#"  routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{charts}}</li>
        </ol>
      </nav>
    <div class="jumbotron jumbotron-fluid text-white " style="background-color:transparent;padding-bottom: 2em;">
        <div class="container">
            <h1 class="display-4">{{charts}}</h1>
            <br>
          
        </div>
    </div>

    <div id="contentid" class="card-columns">
        <div *ngFor="let music of chartsList" class="card text-white dark-theme-sid-color bounceIn"> 
            <img class="figure-img  mcardplay" style="top:2.5em;left: 2.5em;" (click)="addsong(music)" src="../../assets/resources/icons8-circled-play.png">
            <img src="{{music.Image}}" style="height: 10em;" class="card-img-top cover">
            <div class="card-body">
                <h5 class="card-title">{{music.Name}}</h5>
    
            </div>
        </div>
    </div>
</div>